<!-- Page footer -->

<div class="w3-row w3-container background-color-nt-faculty .white-text">
  <div class="w3-col l2 m2">
    &nbsp;
  </div>
  <div class="w3-col l8 m8 s12 white-text">
    <a href="http://www.uni-siegen.de/start/kontakt/impressum.html">
      © Universität Siegen
    </a>
    |
    <a href="http://www.uni-siegen.de/start/kontakt/datenschutzerklaerung.html">
      Datenschutzerklärung
    </a>
    |
    <a href="mailto:webredaktion@uni-siegen.de">
      E-Mail an die Webredaktion
    </a>
  </div>
  <div class="w3-col l2 m2">
    &nbsp;
  </div>
</div>
