<!-- Navigation medium and large -->

{% assign color_chair = "navbutton-white" %}
{% assign color_about = "navbutton-white" %}
{% assign color_team = "navbutton-white" %}
{% assign color_research = "navbutton-white" %}
{% assign color_lectures = "navbutton-white" %}
{% assign color_career = "navbutton-white" %}
{% assign color_contact = "navbutton-white" %}
{% assign color_protech = "navbutton-white" %}

{% assign color_submenu = "navbutton-lpurple" %}
{% assign color_aktuelles = "navbutton-white" %}
{% assign color_industrie = "navbutton-white" %}



{% if page.url == "/" %}
  {% assign color_chair = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/about/" %}
  {% assign color_about = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/team/" %}
  {% assign color_team = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/mitarbeiter/" %}
  {% assign color_team = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/research/" %}
  {% assign color_research = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/lectures/" %}
  {% assign color_lectures = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/career/" %}
  {% assign color_career = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/contact/" %}
  {% assign color_contact = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/protech/" %}
  {% assign color_protech = "navbutton-violet" %}
{% endif %}
{% if page.url contains "/aktuelles/" %}
  {% assign color_aktuelles= "navbutton-violet" %}
{% endif %}
{% if page.url contains "/industrie/" %}
  {% assign color_industrie= "navbutton-violet" %}
{% endif %}




<a href="{{ site.baseurl }}/">
 <div class="navbutton {{ color_chair }} navbutton-left">Startseite</div>
</a>

{% if page.url contains "/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "home" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}


<a href="{{ site.baseurl }}/about">
  <div class="navbutton {{ color_about }} navbutton-left">Über uns</div>
</a>

{% if page.url contains "/about/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "about" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}

<a href="{{ site.baseurl }}/aktuelles">
  <div class="navbutton {{ color_aktuelles }} navbutton-left">Aktuelles</div>
</a>

{% if page.url contains "/aktuelles/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "aktuelles" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}


<a href="{{ site.baseurl }}/industrie">
  <div class="navbutton {{ color_industrie }} navbutton-left">Industrie</div>
</a>

{% if page.url contains "/industrie/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "industrie" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}

<a href="{{ site.baseurl }}/team">
  <div class="navbutton {{ color_team }} navbutton-left">Team</div>
</a>

{% if page.url contains "/team/" %}
  {% for person in site.data.team %}
    {% if person.active == true and person.status != "student" %}
      <a href="{{ site.baseurl }}/team/{{ person.filename }}.html">
        <div class="navbutton {{ color_submenu }} navbutton-left"> {{ person.fullname }}</div>
      </a>
      {% endif %}
  {% endfor %}
{% endif %}

<a href="{{ site.baseurl }}/research">
  <div class="navbutton {{ color_research }} navbutton-left">Forschung</div>
</a>

{% if page.url contains "/research/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "research" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}

<a href="{{ site.baseurl }}/lectures">
  <div class="navbutton {{ color_lectures }} navbutton-left">Studium</div>
</a>

{% if page.url contains "/lectures/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "lectures" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}

<a href="{{ site.baseurl }}/career">
  <div class="navbutton {{ color_career }} navbutton-left">Karriere</div>
</a>

{% if page.url contains "/career/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "career" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}

<a href="{{ site.baseurl }}/contact">
  <div class="navbutton {{ color_contact }} navbutton-left">Kontakt</div>
</a>

{% if page.url contains "/contact/"%}
    {% for item in site.data.submenus %}
      {% if item.title == "contact" %}
        <a href="{{ site.baseurl }}{{ item.url }}.html">
          <div class="navbutton {{ color_submenu }} navbutton-left"> {{ item.subsection }}</div>
        </a>
      {% endif %}
    {% endfor %}
{% endif %}

<a href="https://protech.mb.uni-siegen.de/" target="_blank">
  <div class="navbutton {{ color_protech }} navbutton-left">PROTECH - Institut für Produktionstechnik</div>
</a>



