---
layout: default
---


<div class="w3-row w3-margin-top">
  <div class="w3-quarter">
    {% if page.image %}
      <img src={{ site.baseurl }}{{ page.image }} alt={{ page.image }} style="width:100%;">
    {% endif %}
  </div>
  <div class="w3-threequarter">
    <div class="w3-container">
      <h1>{{ page.fullname }}</h1>
    </div>
    {% if page.team %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          Team:
        </div>
        <div class="w3-col s9">
          {{ page.team }}
        </div>
      </div>
    {% endif %}
    {% if page.tel %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          Telefon:
        </div>
        <div class="w3-col s9">
          {{ page.tel }}
        </div>
      </div>
    {% endif %}
    {% if page.fax %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          Fax:
        </div>
        <div class="w3-col s9">
          {{ page.fax }}
        </div>
      </div>
    {% endif %}
    {% if page.email %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          E-Mail:
        </div>
        <div class="w3-col s9">
          <a href="mailto:{{ page.email }}">{{ page.email }}</a>
        </div>
      </div>
    {% endif %}
    {% if page.office %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          B&uuml;ro:
        </div>
        <div class="w3-col s9">
          {{ page.office }}
        </div>
      </div>
    {% endif %}
    {% if page.address %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          Anschrift:
        </div>
        <div class="w3-col s9">
          {{ page.address }}
        </div>
      </div>
    {% endif %}
    {% if page.hours %}
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          Sprechzeiten:
        </div>
        <div class="w3-col s9">
          {{ page.hours }}
        </div>
      </div>
    {% endif %}
    {% if page.career %}
      <div class="w3-container w3-row">
        <h2>Werdegang</h2>
      </div>
      {% for job in page.career %}
        <div class="w3-container w3-row">
          <div class="w3-col s3">
            {{ job[0] }}
          </div>
          <div class="w3-col s9">
            {{ job[1] }}
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <br>

    <div class="w3-container w3-row">
      {% if page.xing %}      
        <div class="w3-col s1">
          <a href="{{ page.xing }}"><img src="/images/xing.png" alt="xing" width="30" height="30"></a>
        </div>      
      {% endif %}
      {% if page.linkedin %}
          <div class="w3-col s1">
            <a href="{{ page.linkedin }}"><img src="/images/lk.png" alt="linkedin" width="30" height="30"></a>
          </div>
      {% endif %}
      {% if page.orcid %}
          <div class="w3-col s1">
            <a href="{{ page.orcid }}"><img src="/images/orcid.jpg" alt="orcid" width="30" height="30"></a>
          </div>
      {% endif %}
      {% if page.gschoolar %}
          <div class="w3-col s1">
            <a href="{{ page.gchoolar }}"><img src="/images/gschoolar.jpg" alt="orcid" width="30" height="30"></a>
          </div>
      {% endif %}
    </div>
    
    
    {% if page.publication %}
      <div class="w3-container w3-row">
        <h2>Publikationen</h2>
        {% if page.ORCIDlink %}
          <div class="w3-row s9">
            ORCID: <a href="{{ page.ORCIDlink }}" target="_blank">{{ page.ORCIDlink }}</a>
          </div>
          <p>
        {% endif %}

    {% for publication in site.data.publications %}
      <ul>
            {% for autor in publication.autors %}
              {% if autor == page.filename %}
		<div class="w3-row s9">
                
                  <li>{{ publication.fullname }} : <strong>{{ publication.title }}</strong> ({{ publication.year }}) in: {{ publication.in }}. {{ publication.DOI}}</li>
                                
                </div>
                <p>
              {% endif %}
           {% endfor %}
      </ul>
         {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<p>
